In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('../Data/Test4.csv')

In [23]:
df.shape

(28358, 12)

In [24]:
df.head()

,specObjID,ra,dec,z,bpt,Flux_OII_3726,Flux_OIII_4363,Flux_Hb_4861,Flux_OIII_5006,Flux_OI_6300,Flux_Ha_6562,Flux_SII_6716
0,301887437477537792,149.70765,0.836692,0.012681,Star Forming,697.977800,1.565753,33.860220,34.808930,4.293542,98.689070,29.836140
1,301889361622886400,149.65731,0.870752,0.039029,Star Forming,860.421200,3.934724,418.825400,432.624900,43.584850,1335.486000,289.528200
2,301890461134514176,150.12978,0.758961,0.033239,Star Forming,961.109100,24.963650,710.814500,937.442400,46.544560,2335.956000,373.027200
3,301891835524048896,150.08477,0.505975,0.033167,LINER,677.835500,9.416485,265.392100,357.030700,133.058900,411.539400,84.802220
4,301893759669397504,150.08223,0.478250,0.046127,LINER,1.051982,0.004493,4.905554,2.722347,1.298177,1.840886,0.490909

In [25]:
counts = df['bpt'].value_counts()

In [26]:
counts

bpt
Star Forming    23655
Composite        2586
LINER            1480
Seyfert           579
Star Fo            57
Composi             1
Name: count, dtype: int64